<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-trip-heading" data-cy="TripCreateUpdateHeading" jhiTranslate="hikesApp.trip.home.createOrEditLabel">
        Create or edit a Trip
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <nav
          style="
            --bs-breadcrumb-divider: url(
              &#34;data:image/svg + xml,
              %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
            );
          "
          aria-label="breadcrumb"
        >
          <ol class="breadcrumb">
            <li id="basic" class="breadcrumb-item active" aria-current="page"><a>Basic</a></li>
            <li id="description" class="breadcrumb-item">Description</li>
            <li id="related-hikes" class="breadcrumb-item">Related Hikes</li>
            <li id="accomodation" class="breadcrumb-item">Accomodation</li>
            <li id="costs" class="breadcrumb-item">Costs</li>
            <li id="transportation" class="breadcrumb-item">Transportation</li>
            <li id="highlight-1" class="breadcrumb-item">Highlight 1</li>
            <li id="highlight-2" class="breadcrumb-item">Highlight 2</li>
            <li id="highlight-3" class="breadcrumb-item">Highlight 3</li>
            <li id="highlight-4" class="breadcrumb-item">Highlight 4</li>
            <li id="highlight-5" class="breadcrumb-item">Highlight 5</li>
            <li id="highlight-6" class="breadcrumb-item">Highlight 6</li>
          </ol>
        </nav>
        <ol class="list-group list-group-item-primary">
          <li id="basic-details" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <br />
              <div class="form-group">
                <label class="form-label" jhiTranslate="hikesApp.trip.tripName" for="field_tripName">Trip Name</label>
                <input type="text" class="form-control" name="tripName" id="field_tripName" data-cy="tripName" formControlName="tripName" />
                <div *ngIf="editForm.get('tripName')!.invalid && (editForm.get('tripName')!.dirty || editForm.get('tripName')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('tripName')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" jhiTranslate="hikesApp.trip.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                  <input
                    id="field_startDate"
                    data-cy="startDate"
                    type="text"
                    class="form-control"
                    name="startDate"
                    ngbDatepicker
                    #startDateDp="ngbDatepicker"
                    formControlName="startDate"
                  />
                  <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
                <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('startDate')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label" jhiTranslate="hikesApp.trip.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                  <input
                    id="field_endDate"
                    data-cy="endDate"
                    type="text"
                    class="form-control"
                    name="endDate"
                    ngbDatepicker
                    #endDateDp="ngbDatepicker"
                    formControlName="endDate"
                  />
                  <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
                <div *ngIf="editForm.get('endDate')!.invalid && (editForm.get('endDate')!.dirty || editForm.get('endDate')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('endDate')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('description-details', 'description')">Next</button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="description-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="form-group">
                <label class="form-label" jhiTranslate="hikesApp.trip.mainImage" for="field_mainImage">Main Image</label>
                <div>
                  <img
                    [src]="'data:' + editForm.get('mainImageContentType')!.value + ';base64,' + editForm.get('mainImage')!.value"
                    style="max-height: 100px"
                    *ngIf="editForm.get('mainImage')!.value"
                    alt="trip image"
                  />
                  <div *ngIf="editForm.get('mainImage')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('mainImageContentType')!.value }}, {{ byteSize(editForm.get('mainImage')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('mainImage', 'mainImageContentType', 'file_mainImage')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_mainImage"
                    data-cy="mainImage"
                    (change)="setFileData($event, 'mainImage', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="mainImage"
                  id="field_mainImage"
                  data-cy="mainImage"
                  formControlName="mainImage"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="mainImageContentType"
                  id="field_mainImageContentType"
                  formControlName="mainImageContentType"
                />
              </div>
              <div class="form-group">
                <label class="form-label" jhiTranslate="hikesApp.trip.tripDescription" for="field_tripDescription">Trip Description</label>
                <angular-editor
                  autofocus="true"
                  id="field_tripDescription"
                  formControlName="tripDescription"
                  [config]="config"
                ></angular-editor>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('basic-details', 'basic')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('related-hikes-details', 'related-hikes')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="related-hikes-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="form-group">
                <label class="form-label" jhiTranslate="hikesApp.trip.combinedMap" for="field_combinedMap">Combined Map Url</label>
                <br />
                <span class="text-warning">Google map mid for url: https://www.google.com/maps/d/viewer?mid=COMBINED_MAP_URL </span>
                <br />
                <input
                  type="text"
                  class="form-control"
                  name="combinedMap"
                  id="field_combinedMap"
                  data-cy="combinedMap"
                  formControlName="combinedMap"
                />
              </div>

              <div class="form-group">
                <label class="form-label" jhiTranslate="hikesApp.trip.relatedEvents" for="field_relatedEvents">Related Events</label>
                <br />
                <span class="text-warning">Please use event id's, for instance "1,2,3"</span>
                <br />
                <input
                  type="text"
                  class="form-control"
                  name="relatedEvents"
                  id="field_relatedEvents"
                  data-cy="relatedEvents"
                  formControlName="relatedEvents"
                />
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('description-details', 'description')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('accomodation-details', 'accomodation')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="accomodation-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="form-group">
                <label class="form-label" jhiTranslate="hikesApp.trip.accomodationDetails" for="field_accomodationDetails"
                  >Accomodation Details</label
                >
                <angular-editor
                  autofocus="true"
                  id="field_accomodationDetails"
                  formControlName="accomodationDetails"
                  [config]="config"
                ></angular-editor>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('related-hikes-details', 'related-hikes')">
                  Previous
                </button>
                <button type="button" class="btn btn-primary" style="margin-left: 1em" (click)="navigateTo('costs-details', 'costs')">
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="costs-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="hikesApp.trip.costDetails" for="field_costDetails">Cost Details</label>
                <angular-editor autofocus="true" id="field_costDetails" formControlName="costDetails" [config]="config"></angular-editor>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('accomodation-details', 'accomodation')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('transportation-details', 'transportation')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="transportation-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="hikesApp.trip.transportationDetails" for="field_transportationDetails"
                  >Transportation Details</label
                >
                <angular-editor
                  autofocus="true"
                  id="field_transportationDetails"
                  formControlName="transportationDetails"
                  [config]="config"
                ></angular-editor>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('costs-details', 'costs')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('highlight-1-details', 'highlight-1')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="highlight-1-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_subImage1">Highlight 1</label>
                <div>
                  <img
                    [src]="'data:' + editForm.get('subImage1ContentType')!.value + ';base64,' + editForm.get('subImage1')!.value"
                    style="max-height: 100px"
                    *ngIf="editForm.get('subImage1')!.value"
                    alt="trip image"
                  />
                  <div *ngIf="editForm.get('subImage1')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('subImage1ContentType')!.value }}, {{ byteSize(editForm.get('subImage1')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('subImage1', 'subImage1ContentType', 'file_subImage1')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_subImage1"
                    data-cy="subImage1"
                    (change)="setFileData($event, 'subImage1', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage1"
                  id="field_subImage1"
                  data-cy="subImage1"
                  formControlName="subImage1"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage1ContentType"
                  id="field_subImage1ContentType"
                  formControlName="subImage1ContentType"
                />
              </div>

              <div class="row mb-3">
                <label class="form-label" for="field_subImage1Description">Description</label>
                <angular-editor
                  autofocus="true"
                  id="field_subImage1Description"
                  formControlName="subImage1Description"
                  [config]="config"
                ></angular-editor>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('transportation-details', 'transportation')">
                  Previous
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('highlight-2-details', 'highlight-2')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="highlight-2-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_subImage2">Highlight 2</label>
                <div>
                  <img
                    [src]="'data:' + editForm.get('subImage2ContentType')!.value + ';base64,' + editForm.get('subImage2')!.value"
                    style="max-height: 100px"
                    *ngIf="editForm.get('subImage2')!.value"
                    alt="trip image"
                  />
                  <div *ngIf="editForm.get('subImage2')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('subImage2ContentType')!.value }}, {{ byteSize(editForm.get('subImage2')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('subImage2', 'subImage2ContentType', 'file_subImage2')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_subImage2"
                    data-cy="subImage2"
                    (change)="setFileData($event, 'subImage2', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage2"
                  id="field_subImage2"
                  data-cy="subImage2"
                  formControlName="subImage2"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage2ContentType"
                  id="field_subImage2ContentType"
                  formControlName="subImage2ContentType"
                />
              </div>
              <div class="row mb-3">
                <label class="form-label" for="field_subImage2Description">Description</label>
                <angular-editor
                  autofocus="true"
                  id="field_subImage2Description"
                  formControlName="subImage2Description"
                  [config]="config"
                ></angular-editor>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('highlight-1-details', 'highlight-1')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('highlight-3-details', 'highlight-3')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="highlight-3-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_subImage3">Highlight 3</label>
                <div>
                  <img
                    [src]="'data:' + editForm.get('subImage3ContentType')!.value + ';base64,' + editForm.get('subImage3')!.value"
                    style="max-height: 100px"
                    *ngIf="editForm.get('subImage3')!.value"
                    alt="trip image"
                  />
                  <div *ngIf="editForm.get('subImage3')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('subImage3ContentType')!.value }}, {{ byteSize(editForm.get('subImage3')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('subImage3', 'subImage3ContentType', 'file_subImage3')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_subImage3"
                    data-cy="subImage3"
                    (change)="setFileData($event, 'subImage3', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage3"
                  id="field_subImage3"
                  data-cy="subImage3"
                  formControlName="subImage3"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage3ContentType"
                  id="field_subImage3ContentType"
                  formControlName="subImage3ContentType"
                />
              </div>
              <div class="row mb-3">
                <label class="form-label" for="field_subImage3Description">Description</label>
                <angular-editor
                  autofocus="true"
                  id="field_subImage3Description"
                  formControlName="subImage3Description"
                  [config]="config"
                ></angular-editor>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('highlight-2-details', 'highlight-2')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('highlight-4-details', 'highlight-4')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="highlight-4-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_subImage4">Highlight 4</label>
                <div>
                  <img
                    [src]="'data:' + editForm.get('subImage4ContentType')!.value + ';base64,' + editForm.get('subImage4')!.value"
                    style="max-height: 100px"
                    *ngIf="editForm.get('subImage4')!.value"
                    alt="trip image"
                  />
                  <div *ngIf="editForm.get('subImage4')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('subImage4ContentType')!.value }}, {{ byteSize(editForm.get('subImage4')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('subImage4', 'subImage4ContentType', 'file_subImage4')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_subImage4"
                    data-cy="subImage4"
                    (change)="setFileData($event, 'subImage4', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage4"
                  id="field_subImage4"
                  data-cy="subImage4"
                  formControlName="subImage4"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage4ContentType"
                  id="field_subImage4ContentType"
                  formControlName="subImage4ContentType"
                />
              </div>

              <div class="row mb-3">
                <label class="form-label" for="field_subImage4Description">Description</label>
                <angular-editor
                  autofocus="true"
                  id="field_subImage4Description"
                  formControlName="subImage4Description"
                  [config]="config"
                ></angular-editor>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('highlight-3-details', 'highlight-3')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('highlight-5-details', 'highlight-5')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="highlight-5-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_subImage5">Highlight 5</label>
                <div>
                  <img
                    [src]="'data:' + editForm.get('subImage5ContentType')!.value + ';base64,' + editForm.get('subImage5')!.value"
                    style="max-height: 100px"
                    *ngIf="editForm.get('subImage5')!.value"
                    alt="trip image"
                  />
                  <div *ngIf="editForm.get('subImage5')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('subImage5ContentType')!.value }}, {{ byteSize(editForm.get('subImage5')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('subImage5', 'subImage5ContentType', 'file_subImage5')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_subImage5"
                    data-cy="subImage5"
                    (change)="setFileData($event, 'subImage5', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage5"
                  id="field_subImage5"
                  data-cy="subImage5"
                  formControlName="subImage5"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage5ContentType"
                  id="field_subImage5ContentType"
                  formControlName="subImage5ContentType"
                />
              </div>
              <div class="row mb-3">
                <label class="form-label" for="field_subImage5Description">Description</label>
                <angular-editor
                  autofocus="true"
                  id="field_subImage5Description"
                  formControlName="subImage5Description"
                  [config]="config"
                ></angular-editor>
              </div>
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('highlight-4-details', 'highlight-4')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('highlight-6-details', 'highlight-6')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="highlight-6-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_subImage6">Highlight 6</label>
                <div>
                  <img
                    [src]="'data:' + editForm.get('subImage6ContentType')!.value + ';base64,' + editForm.get('subImage6')!.value"
                    style="max-height: 100px"
                    *ngIf="editForm.get('subImage6')!.value"
                    alt="trip image"
                  />
                  <div *ngIf="editForm.get('subImage6')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('subImage6ContentType')!.value }}, {{ byteSize(editForm.get('subImage6')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('subImage6', 'subImage6ContentType', 'file_subImage6')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_subImage6"
                    data-cy="subImage6"
                    (change)="setFileData($event, 'subImage6', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage6"
                  id="field_subImage6"
                  data-cy="subImage6"
                  formControlName="subImage6"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="subImage6ContentType"
                  id="field_subImage6ContentType"
                  formControlName="subImage6ContentType"
                />
              </div>
              <div class="row mb-3">
                <label class="form-label" for="field_subImage6Description">Description</label>
                <angular-editor
                  autofocus="true"
                  id="field_subImage6Description"
                  formControlName="subImage6Description"
                  [config]="config"
                ></angular-editor>
              </div>
              <div>
                <button type="button" class="btn btn-primary" (click)="navigateTo('highlight-5-details', 'highlight-5')">Previous</button>
                <button
                  style="margin-left: 1em"
                  type="button"
                  id="cancel-save"
                  data-cy="entityCreateCancelButton"
                  class="btn btn-danger"
                  (click)="previousState()"
                >
                  <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button
                  type="submit"
                  style="margin-left: 1em"
                  id="save-entity"
                  data-cy="entityCreateSaveButton"
                  [disabled]="editForm.invalid || isSaving"
                  class="btn btn-primary"
                >
                  <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
              </div>
            </div>
          </li>
        </ol>
        <!--        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>-->

        <!--        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hikesApp.trip.activeSubImages" for="field_activeSubImages">Active Sub Images</label>
          <input
            type="number"
            class="form-control"
            name="activeSubImages"
            id="field_activeSubImages"
            data-cy="activeSubImages"
            formControlName="activeSubImages"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hikesApp.trip.activeRelatedEvents" for="field_activeRelatedEvents"
            >Active Related Events</label
          >
          <input
            type="number"
            class="form-control"
            name="activeRelatedEvents"
            id="field_activeRelatedEvents"
            data-cy="activeRelatedEvents"
            formControlName="activeRelatedEvents"
          />
        </div>-->

        <!--        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hikesApp.trip.relatedLinks" for="field_relatedLinks">Related Links</label>
          <textarea
            class="form-control"
            name="relatedLinks"
            id="field_relatedLinks"
            data-cy="relatedLinks"
            formControlName="relatedLinks"
          ></textarea>
        </div>-->
      </div>
    </form>
  </div>
</div>
