<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="trip">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <jhi-alert></jhi-alert>
      <h1 class="display-5">{{ trip.tripName }}</h1>

      <br />
      <ol class="list-group list-group-item-primary">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <br />
            <img [src]="'data:' + trip.mainImage + ';base64,' + trip.mainImage" class="d-block w-100" alt="..." />
            <br />
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span class="largerFont text-info">Start Date</span></div>
            {{ trip.startDate | formatMediumDate }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span class="largerFont text-info">End Date</span></div>
            {{ trip.endDate | formatMediumDate }}
          </div>
        </li>
        <li class="list-group-item">
          <div class="fw-bold" style="margin-left: 0.5em"><span class="largerFont text-info">Hikes/Events</span></div>
          <br />
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" *ngFor="let event of events">
              <a
                class="nav-link text-warning"
                id="home-tab-{{ event.id }}"
                data-toggle="tab"
                (click)="chooseEventTab(event.id, event.komootMap + '')"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >{{ event.eventNAme }}</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent" *ngFor="let event of events">
            <div class="tab-pane fade" id="home-{{ event.id }}" role="tabpanel" aria-labelledby="home-tab">
              <div class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  {{ event.eventDate | formatMediumDate }}
                </div>
              </div>
              <div class="list-group-item d-flex justify-content-between align-items-start">
                <iframe [src]="komootUrl" style="width: 100em" height="700" title="Komoot map"></iframe>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="fw-bold" style="margin-left: 0.5em"><span class="largerFont text-info">Interesting Places</span></div>
          <br />
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" *ngIf="trip.subImage1">
              <a
                class="nav-link active"
                id="home-tab-sub-image-1"
                (click)="chooseHighlightTab('1')"
                data-toggle="tab"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Highlights</a
              >
            </li>
            <li class="nav-item" *ngIf="trip.subImage2">
              <a
                class="nav-link"
                id="home-tab-sub-image-2"
                (click)="chooseHighlightTab('2')"
                data-toggle="tab"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Highlights</a
              >
            </li>
            <li class="nav-item" *ngIf="trip.subImage3">
              <a
                class="nav-link"
                id="home-tab-sub-image-3"
                (click)="chooseHighlightTab('3')"
                data-toggle="tab"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Highlights</a
              >
            </li>
            <li class="nav-item" *ngIf="trip.subImage4">
              <a
                class="nav-link"
                id="home-tab-sub-image-4"
                (click)="chooseHighlightTab('4')"
                data-toggle="tab"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Highlights</a
              >
            </li>
            <li class="nav-item" *ngIf="trip.subImage5">
              <a
                class="nav-link"
                id="home-tab-sub-image-5"
                (click)="chooseHighlightTab('5')"
                data-toggle="tab"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Highlights</a
              >
            </li>
            <li class="nav-item" *ngIf="trip.subImage6">
              <a
                class="nav-link"
                id="home-tab-sub-image-6"
                (click)="chooseHighlightTab('6')"
                data-toggle="tab"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Highlights</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-sub-image-content-1" role="tabpanel" aria-labelledby="home-tab">
              <div *ngIf="trip.subImage1">
                <a (click)="openFile(trip.subImage1, trip.subImage1ContentType)">
                  <img [src]="'data:' + trip.subImage1ContentType + ';base64,' + trip.subImage1" style="max-width: 10em" alt="trip image" />
                </a>
                <span>{{ trip.subImage1Description }}</span>
              </div>
            </div>
            <div class="tab-pane fade" id="home-sub-image-content-2" role="tabpanel" aria-labelledby="home-tab">
              <div *ngIf="trip.subImage2">
                <a (click)="openFile(trip.subImage2, trip.subImage2ContentType)">
                  <img [src]="'data:' + trip.subImage2ContentType + ';base64,' + trip.subImage2" style="max-width: 10em" alt="trip image" />
                </a>
                <span>{{ trip.subImage2Description }}</span>
              </div>
            </div>
            <div class="tab-pane fade" id="home-sub-image-content-3" role="tabpanel" aria-labelledby="home-tab">
              <div *ngIf="trip.subImage3">
                <a (click)="openFile(trip.subImage3, trip.subImage3ContentType)">
                  <img [src]="'data:' + trip.subImage3ContentType + ';base64,' + trip.subImage3" style="max-width: 10em" alt="trip image" />
                </a>
                <span>{{ trip.subImage3Description }}</span>
              </div>
            </div>
            <div class="tab-pane fade" id="home-sub-image-content-4" role="tabpanel" aria-labelledby="home-tab">
              <div *ngIf="trip.subImage4">
                <a (click)="openFile(trip.subImage4, trip.subImage4ContentType)">
                  <img [src]="'data:' + trip.subImage4ContentType + ';base64,' + trip.subImage4" style="max-width: 10em" alt="trip image" />
                </a>
                <span>{{ trip.subImage4Description }}</span>
              </div>
            </div>
            <div class="tab-pane fade" id="home-sub-image-content-5" role="tabpanel" aria-labelledby="home-tab">
              <div *ngIf="trip.subImage5">
                <a (click)="openFile(trip.subImage5, trip.subImage5ContentType)">
                  <img [src]="'data:' + trip.subImage5ContentType + ';base64,' + trip.subImage5" style="max-width: 10em" alt="trip image" />
                </a>
                <span>{{ trip.subImage5Description }}</span>
              </div>
            </div>
            <div class="tab-pane fade" id="home-sub-image-content-6" role="tabpanel" aria-labelledby="home-tab">
              <div *ngIf="trip.subImage6">
                <a (click)="openFile(trip.subImage6, trip.subImage6ContentType)">
                  <img [src]="'data:' + trip.subImage6ContentType + ';base64,' + trip.subImage6" style="max-width: 10em" alt="trip image" />
                </a>
                <span>{{ trip.subImage6Description }}</span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span style="margin-left: 0.5em" class="largerFont text-info">Geolocations</span></div>
            <iframe [src]="googleMapsUrl" width="640 em" height="480 em"></iframe>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div [innerHTML]="trip.tripDescription"></div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span style="margin-left: 0.5em" class="largerFont text-info">Transportation Details</span></div>
            <div [innerHTML]="trip.transportationDetails"></div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span style="margin-left: 0.5em" class="largerFont text-info">Accomodation Details</span></div>
            <div [innerHTML]="trip.accomodationDetails"></div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span style="margin-left: 0.5em" class="largerFont text-info">Cost Details</span></div>
            <div [innerHTML]="trip.costDetails"></div>
          </div>
        </li>
      </ol>
      <br />

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/trip', trip.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
