<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eventPlan">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>
      <h1 class="display-5">{{ eventPlan.eventNAme }}</h1>

      <br />
      <ol class="list-group list-group-item-primary">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <br />
            <img
              [src]="'data:' + eventPlan.hikeMainImageContentType + ';base64,' + eventPlan.hikeMainImage"
              class="d-block w-100"
              alt="..."
            />
            <br />
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span class="largerFont badge rounded-pill text-bg-info">Event Date</span></div>
            {{ eventPlan.eventDate | formatMediumDate }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span class="largerFont badge rounded-pill text-bg-info">Event Start Time</span></div>
            {{ eventPlan.eventStartTime | formatMediumDatetime }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span class="largerFont badge rounded-pill text-bg-info">Event End Time</span></div>
            {{ eventPlan.eventEndTime | formatMediumDatetime }}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><span class="largerFont badge rounded-pill text-bg-info">Travel Schedule</span></div>
            <div [innerHTML]="eventPlan.travelSchedule"></div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <iframe [src]="komootUrl" style="width: 100em" height="700" title="Komoot map"></iframe>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div [innerHTML]="eventPlan.description"></div>
          </div>
        </li>
      </ol>
      <br />
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/event-plan', eventPlan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
