<div class="row">
  <div class="card" style="margin-left: 1em; margin-bottom: 1em; width: 18rem; height: fit-content">
    <br />
    <span class="card-img-top hike"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></span>
    <div class="card-body">
      <h5 class="card-title">Hikes</h5>
      <br />
      <a routerLink="/event-plan" class="btn btn-primary">Display hikes</a>
    </div>
  </div>
  <div class="card" style="margin-left: 1em; margin-bottom: 1em; width: 18rem; height: fit-content">
    <br />
    <span class="card-img-top trip"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></span>
    <div class="card-body">
      <h5 class="card-title">Trips</h5>
      <br />
      <a routerLink="/trip" class="btn btn-primary">Display trips</a>
    </div>
  </div>
  <div class="card" style="margin-left: 1em; margin-bottom: 1em; width: 18rem; height: fit-content">
    <br />
    <span class="card-img-top report"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></span>
    <div class="card-body">
      <h5 class="card-title">Reports</h5>
      <br />
      <a routerLink="/travel-report" class="btn btn-primary">Display reports</a>
    </div>
  </div>
</div>
