<div class="d-flex justify-content-center">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-plan-heading" data-cy="EventPlanCreateUpdateHeading" jhiTranslate="hikesApp.eventPlan.home.createOrEditLabel">
        Create or edit a Event Plan
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
        <nav
          style="
            --bs-breadcrumb-divider: url(
              &#34;data:image/svg + xml,
              %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
            );
          "
          aria-label="breadcrumb"
        >
          <ol class="breadcrumb">
            <li id="basic" class="breadcrumb-item active" aria-current="page"><a>Basic</a></li>
            <li id="description" class="breadcrumb-item">Description</li>
            <li id="travel-schedule" class="breadcrumb-item">Travel Schedule</li>
            <li id="highlight-1" class="breadcrumb-item">Highlight 1</li>
            <li id="highlight-2" class="breadcrumb-item">Highlight 2</li>
          </ol>
        </nav>

        <ol class="list-group list-group-item-primary">
          <li id="basic-details" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_eventNAme">Event Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="eventNAme"
                  id="field_eventNAme"
                  data-cy="eventNAme"
                  formControlName="eventNAme"
                />
                <div *ngIf="editForm.get('eventNAme')!.invalid && (editForm.get('eventNAme')!.dirty || editForm.get('eventNAme')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('eventNAme')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>
              <br />
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="hikesApp.eventPlan.eventDate" for="field_eventDate">Event Date</label>
                <div class="input-group">
                  <input
                    id="field_eventDate"
                    data-cy="eventDate"
                    type="text"
                    class="form-control"
                    name="eventDate"
                    ngbDatepicker
                    #eventDateDp="ngbDatepicker"
                    formControlName="eventDate"
                  />
                  <button type="button" class="btn btn-secondary" (click)="eventDateDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
                <div *ngIf="editForm.get('eventDate')!.invalid && (editForm.get('eventDate')!.dirty || editForm.get('eventDate')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('eventDate')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>
              <br />
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="hikesApp.eventPlan.eventStartTime" for="field_eventStartTime"
                  >Event Start Time</label
                >
                <div class="d-flex">
                  <input
                    id="field_eventStartTime"
                    data-cy="eventStartTime"
                    type="datetime-local"
                    class="form-control"
                    name="eventStartTime"
                    formControlName="eventStartTime"
                    placeholder="YYYY-MM-DD HH:mm"
                  />
                </div>
              </div>
              <br />
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="hikesApp.eventPlan.eventEndTime" for="field_eventEndTime">Event End Time</label>
                <div class="d-flex">
                  <input
                    id="field_eventEndTime"
                    data-cy="eventEndTime"
                    type="datetime-local"
                    class="form-control"
                    name="eventEndTime"
                    formControlName="eventEndTime"
                    placeholder="YYYY-MM-DD HH:mm"
                  />
                </div>
              </div>
              <br />
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('description-details', 'description')">Next</button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="description-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="hikesApp.eventPlan.hikeMainImage" for="field_hikeMainImage">Hike Main Image</label>
                <div>
                  <img
                    [src]="'data:' + editForm.get('hikeMainImageContentType')!.value + ';base64,' + editForm.get('hikeMainImage')!.value"
                    style="max-height: 100px"
                    *ngIf="editForm.get('hikeMainImage')!.value"
                    alt="eventPlan image"
                  />
                  <div *ngIf="editForm.get('hikeMainImage')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('hikeMainImageContentType')!.value }}, {{ byteSize(editForm.get('hikeMainImage')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('hikeMainImage', 'hikeMainImageContentType', 'file_hikeMainImage')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_hikeMainImage"
                    data-cy="hikeMainImage"
                    (change)="setFileData($event, 'hikeMainImage', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="hikeMainImage"
                  id="field_hikeMainImage"
                  data-cy="hikeMainImage"
                  formControlName="hikeMainImage"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="hikeMainImageContentType"
                  id="field_hikeMainImageContentType"
                  formControlName="hikeMainImageContentType"
                />
              </div>
              <br />
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="hikesApp.eventPlan.eventDescription" for="field_eventDescription"
                  >Event Description</label
                >
                <angular-editor
                  autofocus="true"
                  id="field_eventDescription"
                  formControlName="eventDescription"
                  [config]="config"
                ></angular-editor>
              </div>
              <br />
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="hikesApp.eventPlan.komootMap" for="field_komootMap">Komoot Map</label>
                <input
                  type="text"
                  class="form-control"
                  name="komootMap"
                  id="field_komootMap"
                  data-cy="komootMap"
                  formControlName="komootMap"
                />
                <div *ngIf="editForm.get('komootMap')!.invalid && (editForm.get('komootMap')!.dirty || editForm.get('komootMap')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('komootMap')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>
              <br />
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('basic-details', 'basic')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('travel-schedule-details', 'travel-schedule')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="travel-schedule-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="hikesApp.eventPlan.eventTravelSchedule" for="field_eventTravelSchedule"
                  >Event Travel Schedule</label
                >
                <angular-editor
                  autofocus="true"
                  id="field_eventTravelSchedule"
                  formControlName="eventTravelSchedule"
                  [config]="config"
                ></angular-editor>
              </div>
              <br />
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('description-details', 'description')">Previous</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('highlight-1-details', 'highlight-1')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="highlight-1-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_hikeHighlightImage1">Highlight 1</label>
                <div>
                  <img
                    [src]="
                      'data:' +
                      editForm.get('hikeHighlightImage1ContentType')!.value +
                      ';base64,' +
                      editForm.get('hikeHighlightImage1')!.value
                    "
                    style="max-height: 100px"
                    *ngIf="editForm.get('hikeHighlightImage1')!.value"
                    alt="eventPlan image"
                  />
                  <div *ngIf="editForm.get('hikeHighlightImage1')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('hikeHighlightImage1ContentType')!.value }},
                      {{ byteSize(editForm.get('hikeHighlightImage1')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('hikeHighlightImage1', 'hikeHighlightImage1ContentType', 'file_hikeHighlightImage1')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_hikeHighlightImage1"
                    data-cy="hikeHighlightImage1"
                    (change)="setFileData($event, 'hikeHighlightImage1', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="hikeHighlightImage1"
                  id="field_hikeHighlightImage1"
                  data-cy="hikeHighlightImage1"
                  formControlName="hikeHighlightImage1"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="hikeHighlightImage1ContentType"
                  id="field_hikeHighlightImage1ContentType"
                  formControlName="hikeHighlightImage1ContentType"
                />
              </div>
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_hikingHighlightImage1Description">Description</label>
                <angular-editor
                  autofocus="true"
                  id="field_hikingHighlightImage1Description"
                  formControlName="hikingHighlightImage1Description"
                  [config]="config"
                ></angular-editor>
              </div>
              <br />
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('travel-schedule-details', 'travel-schedule')">
                  Previous
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin-left: 1em"
                  (click)="navigateTo('highlight-2-details', 'highlight-2')"
                >
                  Next
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 1em" data-dismiss="modal" (click)="previousState()">
                  Cancel
                </button>
              </div>
            </div>
          </li>
          <li id="highlight-2-details" class="list-group-item d-flex justify-content-between align-items-start hidden">
            <div class="ms-2 me-auto">
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_hikeHighlightImage2">Highlight 2</label>
                <div>
                  <img
                    [src]="
                      'data:' +
                      editForm.get('hikeHighlightImage2ContentType')!.value +
                      ';base64,' +
                      editForm.get('hikeHighlightImage2')!.value
                    "
                    style="max-height: 100px"
                    *ngIf="editForm.get('hikeHighlightImage2')!.value"
                    alt="eventPlan image"
                  />
                  <div *ngIf="editForm.get('hikeHighlightImage2')!.value" class="form-text text-danger clearfix">
                    <span class="pull-start"
                      >{{ editForm.get('hikeHighlightImage2ContentType')!.value }},
                      {{ byteSize(editForm.get('hikeHighlightImage2')!.value!) }}</span
                    >
                    <button
                      type="button"
                      (click)="clearInputImage('hikeHighlightImage2', 'hikeHighlightImage2ContentType', 'file_hikeHighlightImage2')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                  <input
                    type="file"
                    id="file_hikeHighlightImage2"
                    data-cy="hikeHighlightImage2"
                    (change)="setFileData($event, 'hikeHighlightImage2', true)"
                    accept="image/*"
                    jhiTranslate="entity.action.addimage"
                  />
                </div>
                <input
                  type="hidden"
                  class="form-control"
                  name="hikeHighlightImage2"
                  id="field_hikeHighlightImage2"
                  data-cy="hikeHighlightImage2"
                  formControlName="hikeHighlightImage2"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="hikeHighlightImage2ContentType"
                  id="field_hikeHighlightImage2ContentType"
                  formControlName="hikeHighlightImage2ContentType"
                />
              </div>
              <br />
              <div class="row mb-3">
                <label class="form-label" for="field_hikingHighlightImage2Description">Description</label>
                <angular-editor
                  autofocus="true"
                  id="field_hikingHighlightImage2Description"
                  formControlName="hikingHighlightImage2Description"
                  [config]="config"
                ></angular-editor>
              </div>
              <br />
              <div style="margin-top: 1em">
                <button type="button" class="btn btn-primary" (click)="navigateTo('highlight-1-details', 'highlight-1')">Previous</button>
                <button
                  type="submit"
                  style="margin-left: 1em"
                  id="save-entity"
                  data-cy="entityCreateSaveButton"
                  [disabled]="editForm.invalid || isSaving"
                  class="btn btn-primary"
                >
                  <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <button
                  type="button"
                  id="cancel-save"
                  style="margin-left: 1em"
                  data-cy="entityCreateCancelButton"
                  class="btn btn-danger"
                  (click)="previousState()"
                >
                  <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
              </div>
            </div>
          </li>
        </ol>
        <!--        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>-->
      </div>
    </form>
  </div>
</div>
